<div class="menu"> 
    <%= link_to "✏︎ 月間ランキング" %>
</div>
<div class="menu"> 
    <%= link_to "✏︎ 年間ランキング" %>
</div>
<%= form_with(url: search_arts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "タイトル名で検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<h1> ＜週間ランキング＞</h1>
<h1>　</h1><h1>1位「金馬」</h1>
      <%=link_to image_tag('https://previews.dropbox.com/p/thumb/AAtqZeV8i4PSS8lebLlvwxMzGlXel5KuaWHdK4Dcj8L1bJuivkvDA6AhnX64tZd1gQ8l4IFBhfKDKQ4bUehOkX3xRtQ16BAGgHE6lRNOcpdvQHy2X_GrOhbTX_HsttZx7qqJNWzhJu2aKMn3A0D3hVgrv16SCd3OhUFophjSO2b4-ZbElK767csIwq_tO7sd1fvQzAa_57VsXvZrjwZXA-lbn_rGrd6hMKv1zz6wzyR_qPjeT9zi50vtb9WcD2UxxsuDDzJjvHzUFYD3N8JrkuomD79Hq7c_CLoXTthHoE2kMHHB076TGg_nwf3oaMjOaJDegbw_3a_5R8vMUlTGkQERKedIIh72tO5EnuNqrkBvsA/p.jpeg?fv_content=true&size_mode=5', size:'600x800'),"/users/4/"%>　
<h1>　</h1><h1>2位「kin」</h1>
      <%=link_to image_tag('https://previews.dropbox.com/p/thumb/AAv4o3k_G2vSElzqCKR1wd3oNzrrwJw6FeHeCAtxHsAux4nCRzYBN9Z9CvBFYGMqhhEp7aXJ2B5By_PgzoxukWmducb8DDGj-pr0j9PAZ4Efj5gAFxpL4e0HgOrcJv8JWlozvaMXRjYGTDnNsd1ZwTwT0bF7SNfhvboHKAiuUj6bT1IbRxsILiv6TMf6Q6I_2Qop3Fvb0lId3xLzdfA2KlNuO3RtxCIPy4HQE5_9UTLRK2Nxoy4ttjurZ7Rox5--dDApLFPbSoYPAYOIuGKiICoT4zKmgaskMB_C9ryLMIYR-YX-AOVi-KrVHOr6p-4R2MIvZ7PdxPyfOS2g9O72B65-_xfkQ3ORYjajDe84-lpagQ/p.jpeg?fv_content=true&size_mode=5', size:'400x600'),"/users/1/"%>　
<h1>　</h1><h1>3位「妖怪」</h1>
      <%=link_to image_tag('https://previews.dropbox.com/p/thumb/AAuylVwNQHPvMbMlPZTwsNBs67SSsebP4ZaBtcZLopBwi7Fw967nd2SKslWWGXhBERA_cNnDWWHj-zQwDdSTxsnVhti4VpAbSsBV1La9r0cXPjc03iTvF7BZCyhxG7-zQk-Jcst7m9QaapDpm5YJGT8tPb2YFqmUvmmRjiJc_8I8WeJq7165BrZGRcuHe_y0Y7hT2CK_zC4IhpUNi89pobjJPuKX79s7dA7h-FcwVlVwt4K7829jxZZT91mZq4Hgvzkq7D3_pvdGINf1PZZ0xnFRFCd_Znktvo8APNwF3LiDOxImUGF13zBln4mZTazEl4j46EUKzwb4ZkpsEmp_iTLjVfP7yBfwHp4zavijlqNjdA/p.jpeg?fv_content=true&size_mode=5', size:'600x800'),"/users/5/"%>　
<h1>　</h1><h1>4位「kin」</h1>
      <%=link_to image_tag('https://previews.dropbox.com/p/thumb/AAuh0PtNza5QS-c6o_zpMIbzXhJljFYfd_Ro9efzlXOREX87gMlSOjJTb3oBDiYQLOpwQnLznEMy1CzZZyoktrSuHWuFSWw6GpJFfk60pXnUCQMwypnKhji-HYn3kO_wWLTTeet-ATeyvHAMjTD9sXxMcpKEWn8vgUmHd6dqTzj4NJACVigbSnAmlqmrRE6b4BB34E1WyFYvzEmYuWDtwAZF6HuNjQ6VghSNu29VS0Jum8RgS7wLE7uHtripdambJb9_to0rCTK_wEaLEiDBDZzgPX7DDa1SC94Vyr5DzGJaKMFys0eaOxmNfS_J73vmkoj4eHiWfpAIjF_h64rTNDsrtB3NmZp_tz1xedhQR7OOtQ/p.jpeg?fv_content=true&size_mode=5', size:'500x700'),"/users/1/"%>　
<h1>　</h1><h1>5位「kin」</h1>     
      <%=link_to image_tag('https://previews.dropbox.com/p/thumb/AAuLXZ1fL0A7iI3LUZ2x_4wCGxxoSS4lUIefMHvafvkW6Ds4AW-waZDPMhQ56OC90E0y6YuFNcRPt8MJlnwqQ8UvZENhNohQ1Sv4Vtz-IN09dG8hV90RPclK90vLA5VrBzn0Pw6K_bTir2KQIbd2VR5M3rEh-cBlg28QUxNB5mzOAkktRjf9GPivD8M-eiu3zW0igMruKG1z_oODF1-7tyPvxlgtMXZmJMdsxJj4z_iOO6QlUXB_n1CSLwD0gvSWWeA0cAjavk5YkZ8_O2FjBbI6azGeOCZRF_NyOU9L7liIYDS7nicJdjuDKKXRoIw-lbp9-XmaLsDkAZ-a1TunjUyO5TABDgpoot3ftz94kaQ_1g/p.jpeg?fv_content=true&size_mode=5', size:'600x800'),"/users/1/"%>　
<h1>　</h1>