<%= form_with(url: search_arts_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "タイトル名で検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>

<div class="contents row">
  <p><%= @nickname %>さんの作品一覧</p>
  <% @arts.each do |art| %>
    <%= render partial: "arts/art", locals: { art: art } %>
  <% end %>
  <%= paginate(@arts) %>
</div>