    <div class="content_post" style="background-image: url(<%= art.image %>);">
      <div class="more">
        <span><%= image_tag 'arrow_top.png' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '詳細', "/arts/#{art.id}", method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == art.user_id %>
            <li>
              <%= link_to '編集', "/arts/#{art.id}/edit", method: :get %>
            </li>
            <li>
              <%= link_to '削除', "/arts/#{art.id}", method: :delete %>
            </li>
          <% end %>
        </ul>
      </div>
      <%= simple_format(art.text) %>
      <span class="name">
        <a href="/users/<%= art.user.id %>">
          <span>作者</span><%= art.user.nickname %>
        </a>
      </span>
    </div>